@page
@model BooklistApp.Pages.Booklists.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<form method="post">
    <input type="hidden" asp-for="book.Id" />
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <div class="container row">
        <div class="col">
            <label asp-for="book.Name"></label>
        </div>
        <div class="col">
            <input asp-for="book.Name" class="form-control" />
        </div>
        <span asp-validation-for="book.Name" class="text-danger"></span>
    </div> <br>
    <div class="container row">
        <div class="col">
            <label asp-for="book.Author"></label>
        </div>
        <div class="col">
            <input asp-for="book.Author" class="form-control" />
        </div>
        <span asp-validation-for="book.Author" class="text-danger"></span>
    </div> <br />
    <div class="container row">
        <div class="col">
            <input type="submit" value="Update" class="btn btn-primary" />

        </div>
        <div class="col">
            <a asp-page="Booklists" class="btn btn-secondary">Back to Lists</a>
        </div>
    </div>
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

